

<div ng-controller='homeController'>
	<section>
		<div class="container">
			<br><br><br><br><br>
			<h2>PSHS-BRC Advanced Programming Club</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit
			</p>
			<hr>
			<div class="container text-left" >
				<div class="row">
					<div class="col-md-2">
						<input class="form-control" type="" name="" placeholder="Username">
					</div>
					<div class="col-md-2">
						<input class="form-control" type="" name="" placeholder="Password">
					</div>
					<button class="btn btn-round btn-fill btn-success">Log In</button>
					&nbsp
					<button class="btn btn-round btn-fill ">Sign Up</button>
				</div>	
			</div>
		</div>
	</section>
</div>