<div ng-controller='preloaderController'>

	<div class="container text-center" >
		<br><br><br><br><br><br><br>
		<span class="align-center">
			<h4>Loading . . .</h4>
			<div class="text-center" style="width: 20vw; margin-left: 30vw;">
				<%- include("components/anim_loading.ejs") %>
			</div>
		</span>
	</div>
</div>